<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Instructors Web Application</display-name>

	<!-- location of spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:META-INF/spring/camel-context-distance.xml
		</param-value>
	</context-param>
	
	<!-- log4j configuration -->
	
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:${AKAI_HOME}/log4j.properties</param-value>
    </context-param>
    
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>10000</param-value>
    </context-param>
    
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
    <!--</listener>-->

	<!-- the listener that kick-starts Spring, which loads the XML files and 
		start our application -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
    	<servlet-name>membrane</servlet-name>
    	<servlet-class>com.predic8.membrane.servlet.embedded.MembraneServlet</servlet-class>
    	<init-param>
    		<param-name>proxiesXml</param-name>
    		<param-value>/WEB-INF/proxies.xml</param-value>
    	</init-param>
    </servlet>


	<servlet>
		<servlet-name>DistanceServlet</servlet-name>
		<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>membrane</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
